@media (max-width: 780px) {
  .so-widget-sow-button-atom-a2c155c8650b-875 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-atom-a2c155c8650b-875 .ow-button-base.ow-button-align-center.ow-button-align-justify a {
    display: inline-block;
  }
}
.so-widget-sow-button-atom-a2c155c8650b-875 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  font-size: 1.3;
  padding: 1 2;
  background: #e66432;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cc4b19), color-stop(1, #e66432));
  background: -ms-linear-gradient(bottom, #cc4b19, #e66432);
  background: -moz-linear-gradient(center bottom, #cc4b19 0%, #e66432 100%);
  background: -o-linear-gradient(#e66432, #cc4b19);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e66432', endColorstr='#cc4b19', GradientType=0);
  border: 1px solid;
  border-color: #be4617 #b54216 #a83d14 #b54216;
  color: #ffffff !important;
  -webkit-border-radius: 0.25;
  -moz-border-radius: 0.25;
  border-radius: 0.25;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-a2c155c8650b-875 .ow-button-base a.ow-button-hover:active,
.so-widget-sow-button-atom-a2c155c8650b-875 .ow-button-base a.ow-button-hover:hover {
  background: #e79574;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #df7448), color-stop(1, #e79574));
  background: -ms-linear-gradient(bottom, #df7448, #e79574);
  background: -moz-linear-gradient(center bottom, #df7448 0%, #e79574 100%);
  background: -o-linear-gradient(#e79574, #df7448);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e79574', endColorstr='#df7448', GradientType=0);
  border-color: #e89b7c #e79574 #e48b67 #e79574;
  color: #ffffff !important;
}